.header_outer_container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.7) 0%,
    transparent 100%
  );
  transition: background-color 0.3s ease;
}

.header_conatiner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 40px;
}

.header_conatiner ul {
  color: #9c9a9a;
  list-style: none;
}
.header_conatiner ul li {
  cursor: pointer;
}
.header_left ul {
  display: flex;
  align-items: center;
  gap: 30px;
  font-size: 14px;
}

.header_left ul li:hover {
  color: hsl(0, 15%, 91%);
}
.header_right ul {
  display: flex;
  align-items: center;
  gap: 20px;
  color: white;
}
/* responisve */
@media (max-width: 768px) {
  .header_container {
    padding: 15px;
  }

  .header_left ul {
    gap: 12px;
  }

  .header_left ul li {
    font-size: 12px;
  }

  .header_right ul {
    gap: 15px;
  }
}
